@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

body{
  overflow-x: hidden;
  background: #000;
}

@theme {
  --color-custom-gray: oklch(0.865 0.0164 114.42);
  --color-custom-cream: oklch(0.9093 0.0096 119.59);
  --color-custom-bone: oklch(0.8298 0.02 90.57);
  --color-custom-nyanza: oklch(0.9626 0.0449 127.78);
  --color-custom-pearl: oklch(0.8745 0.0381 83.02);
  --color-custom-wine-500: oklch(0.3858 0.0735 12.44);
  --color-custom-wine-600: oklch(0.3352 0.0627 11.98);
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-200) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    
    background-color: #a0a0a0;
    border-radius: 10px;
  }

  .dark .custom-scrollbar {
    scrollbar-color: var(--color-neutral-700) transparent;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #16171a;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .tooltip-button {
    position: relative; 
  }

  .tooltip-button:hover::after {
    content: attr(aria-label); 
    position: absolute;
    background-color: #333; 
    color: #fff;             
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;     
    top: 100%;               
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;        
    z-index: 9999;           
  }

  .tooltip-button-bottom {
    position: relative; 
  }

  .tooltip-button-bottom:hover::after {
    content: attr(aria-label); 
    position: absolute;
    background-color: #333; 
    color: #fff;             
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;     
    bottom: 100%;               
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;        
    z-index: 9999;           
  }
}